<div bmimg>
<div class="container">
  <div class="row">
    <div class="col-12 offset-2">
      <div class="card mt-10">
        <div class="card-body">
          <h5 class="card-title">Process detail</h5>
          <p>
            <strong>ID :</strong><strong id="id">{{process.id}}</strong></p>
          <p>
            <strong>Process_name</strong>: {{process.Process_name}}</p>
          <p>
            <strong>Description:</strong> {{process.Process_Description}}</p>
          <div id="d1">
             <p><strong>Device 1:</strong> {{process.Device1_name}}   Type:<b id="type1">{{process.Device1_type}}</b>  Serie:<b id="serial1">{{process.IdDevice1}}</b></p>
          </div>
          <div id="div1"></div>
          <div class="row">
              <div class="col-2" id="graph1_1"></div>
              <div class="col-2" id="graph1_2"></div>
              <div class="col-2" id="graph1_3"></div>
              <div class="col-2" id="graph1_4"></div>
              <div class="col-2" id="graph1_5"></div>
          </div>
          <div class="row">
              <div class="col-5" id="dispersion1_1"></div>
              <div class="col-5" id="dispersion1_2"></div>
              
          </div>
          <div id="d2">
            <p>  <strong>Device 2:</strong> {{process.Device2_name}}   Type:<b id="type2">{{process.Device2_type}}</b>  Serie:<b id="serial2">{{process.IdDevice2}}</b></p>
          </div>
          <div id="div2"></div>
            <div class="row">
              <div class="col-2" id="graph2_1"></div>
              <div class="col-2" id="graph2_2"></div>
              <div class="col-2" id="graph2_3"></div>
              <div class="col-2" id="graph2_4"></div>
              <div class="col-2" id="graph2_5"></div>
          </div>
          <div class="row">
              <div class="col-5" id="dispersion2_1"></div>
              <div class="col-5" id="dispersion2_2"></div>
             
          </div>
          <div id="d3">
            <p>  <strong>Device 3:</strong> {{process.Device3_name}}   Type:<b id="type3">{{process.Device3_type}}</b>  Serie:<b id="serial3">{{process.IdDevice3}}</b></p>
          </div>
          <div id="div3"></div>
            <div class="row">
              <div class="col-2" id="graph3_1"></div>
              <div class="col-2" id="graph3_2"></div>
              <div class="col-2" id="graph3_3"></div>
              <div class="col-2" id="graph3_4"></div>
              <div class="col-2" id="graph3_5"></div>
          </div>
          <div class="row">
              <div class="col-5" id="dispersion3_1"></div>
              <div class="col-5" id="dispersion3_2"></div>
           
          </div>
          <div id="d4">
            <p>  <strong>Device 4:</strong> {{process.Device4_name}}   Type:<b id="type4">{{process.Device4_type}}</b>  Serie:<b id="serial4">{{process.IdDevice4}}</b></p>
          </div>
          <div id="div4"></div>
            <div class="row">
              <div class="col-2" id="graph4_1"></div>
              <div class="col-2" id="graph4_2"></div>
              <div class="col-2" id="graph4_3"></div>
              <div class="col-2" id="graph4_4"></div>
              <div class="col-2" id="graph4_5"></div>

           
          </div>
          <div class="row">
              <div class="col-5" id="dispersion4_1"></div>
              <div class="col-5" id="dispersion4_2"></div>
              
          </div>
          <div id="d5"> 
            <p>  <strong>Device 5:</strong> {{process.Device5_name}}   Type:<b id="type5">{{process.Device5_type}}</b>  Serie:<b id="serial5">{{process.IdDevice5}}</b></p>
          </div> 
          <div id="div5"></div>
            <div class="row">
              <div class="col-2" id="graph5_1"></div>
              <div class="col-2" id="graph5_2"></div>
              <div class="col-2" id="graph5_3"></div>
              <div class="col-2" id="graph5_4"></div>
              <div class="col-2" id="graph5_5"></div>
          </div>
          <div class="row">
              <div class="col-5" id="dispersion5_1"></div>
              <div class="col-5" id="dispersion5_2"></div>
          </div>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="/js/process.js"></script>